*{
  margin: 0;
}
a{
  color: rgb(74, 74, 75);
  padding: 0px 10px;
}
html,body{
  height: 100%;
  font-weight: 100;
  font-size: 15px;
  margin:0;padding:0
}
header {
  height: 50px;
  position: absolute;
  top: 0%;
  right: 10px;
  display: flex;
  margin: 10px;
}

header > a:nth-of-type(1),a:nth-of-type(2){
  width: 40px;
  color: rgb(99, 97, 97);
  text-decoration: none;
  font-size: 14px;
  margin: 15px 0px 0px 0px;
}

header > div:nth-of-type(1){
  margin: 12px 0px 0px 10px;
}

header > div:nth-of-type(2){
  margin: 8px 0px 0px 15px;
}

header a:hover{
  text-decoration: underline;
}
.rec{
  width: 21px;
  height: 21px;
  opacity: 1;
}

.empty{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: aliceblue;
  margin: auto;
}
header button{
  background-color: #fff;
  outline: 0;
  position: absolute;
  z-index: -1;
  
}


/*end header*/
section{
  position: absolute;
  width: 100%;
  min-height: 100%;
}
section > div{
  margin: 20% auto;
  text-align: center;
}

[alt="google"]{
  width: 270px;
  margin-bottom: 10px;
}
[alt="search"]{
  position: absolute;
  margin: -50px 10px 10px -280px;
  opacity: 0.3;
}
[alt="vioce"]{
  position: absolute;
  margin: -52px 0px 0px 260px;
}

[type="text"]{
width: 550px;
height: 40px;
border: 1px solid rgb(128, 128, 128, 0.3);
border-radius: 30px;
padding-left: 45px;
margin: 20px 0px 20px 0px;
}

[type="text"]:hover, [type="text"]:focus, button:hover{
  box-shadow: 1px 1px 14px -6px grey;
  outline: 0;
}
div > button{
  font-weight: 400;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin:  10px 10px 20px 10px;
  border: 1px solid rgb(128, 128, 128, 0);
  background-color: rgb(232 229 229 / 30%);
  outline: 0;
}

a{
  text-decoration: none;
}

/*end section*/
footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  background-color: rgb(191 191 191 / 30%);
  align-items: center;
  color: rgba(65, 66, 65, 0.54);
}
footer > div{
  border: 1px solid rgb(128, 128, 128, 0.3);
  padding: 10px 0px 10px 0px;
  color: rgba(0,0,0,.54);
  padding-left: 50px;
}

footer nav{
  padding: 10px 20px;
  opacity: .8;
  color: rgba(65, 66, 65, 0.54);
}

nav  div {
  flex-direction: row-reverse;
  float: right;
}
nav a:hover{
  text-decoration: underline;
}
